$font-family-base: 'Poppins', Helvetica, sans-serif;
$background: rgb(10, 25, 47);
$font-family-title:  Roboto,  Poppins, Nunito Sans, sans-serif;
$medium-font-size:14px;
$dark-grey:#333;
$highlight-color: rgb(100, 255, 218);
$heading-color: rgb(136, 146, 176);
