
.experience-container {

  margin: 5rem 11rem 5rem 25rem;
}
/**/

.titleContainer {
  margin: 0 auto;
  text-align: center;
}
.title {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 3rem;


}
.title::before,
.title::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.title::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.title::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1.2rem;
}

/**/

/* Timeline */

.ul {
  border-left: 4px solid #ffe838;
  //border-radius: .8rem;
  background-color: rgba(0, 0, 0, 0.05);

  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}


.ul h1 {

  font-size: 1.5rem;
  color: rgb(100, 255, 218);
  font-weight: 300;
  margin-bottom: 1rem;

  opacity: 0.3;
}

.ul h2 {
  display: none;
}
.ul p {

  color: rgb(136, 146, 176);
  font-size: 0.7rem;
}


.ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}


.date {

  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.date::before,

.date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.date::before {

  content: attr(data-date);
  left: -20rem;
  text-align: right;
  min-width: 12rem;
  color: rgb(136, 146, 176);
}


.date::after {
  content: "";
  box-shadow: 0 0 0 4px rgb(136, 146, 176);

  border-radius: 100%;
  left: -5.9rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #313534;
}


@media screen and (max-width: 1200px) {
  .experience-container {
    margin: 5rem 5rem 5rem 25rem;
  }
}

@media screen and (max-width: 800px) {
  .experience-container {
    margin: 2rem 5rem 3rem 0;
  }

  .timeline {
    margin-left: -5rem;
  }

  .ul {

    margin: 0 0 0 auto;
    padding: 3rem;
  }


  .ul h2 {

    display: block;
    color: rgb(136, 146, 176);
    font-size: 1rem;
    margin-bottom: 1rem;
  }


  .date::before {
    display: none;
  }

  .date::after {
    left: -4rem;
  }
}



@media screen and (max-width: 500px) {
  .experience-container {
    margin: 2rem 1rem 3rem 0;
  }
}

