.header {
  padding: 2rem;
  background-color: $background
}
.newSideBar{
  display: none;
}

.navList{
  display: flex;
  justify-content: right;
  list-style-type: none;
  margin: 0;
  padding-right: 4em;
}

.navItem{
  color: rgb(136, 146, 176);
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;
  padding-right: 2em;
  font-family: Poppins, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;
  transition: color 650ms;
}


.navItem:hover{
  color: #666666;
}

.active-nav-item{
  color: #333333;
}