
.container{
  margin: 10rem 15rem 0 15rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Picture begins here */

.profilePicture{
  flex: 1;
  margin-right: 5rem;
  max-width: 20%;
}

/* Picture ends here*/

/* Content Begins here */

.content{
  color: rgb(136, 146, 176);
}

.contentTitle{
  font-family: Roboto, sans-serif ;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.details{
  flex: 1;
}

.heading{
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.largeHeading{
  font-size: 10rem;
  opacity: .3;
}

.smallHeading{
  font-size: 2rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.3);
}

/* Content Ends here */

/* Tech stack begins here */
.tech{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
}

/* Tech stack ends here */