.container{
}

.container h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(204, 214, 246);
}

.container p{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 25, 47);
  color: rgb(136, 146, 176);
}


.container a{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 25, 47);
  text-decoration: none;
  margin: 2rem 46rem;
  padding: 1.5rem 0;
  color: rgb(100, 255, 218);
  border: 1px solid rgb(100, 255, 218);
  border-radius: 5px;
  transition: background-color 650ms;
}

.container a:hover{
  background-color: rgba(100, 255, 218, 0.07);
}