
/*Begin title*/

.container {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 2rem;
}
.title::before,
.title::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.title::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.title::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1.2rem;
}

/* End Title */

/* Begin Featured Projects */
.content span{
  margin-top: 12rem;
}
.featuredProjects {
  margin: 0 15rem;
}
.featuredProject {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolioImage {
  margin-right: 5rem;
  margin-bottom: 1rem;

}

.portfolioImage:last-child {
  margin-left: 5rem;
  margin-right: 0;
  margin-bottom: 5rem;
}

.image {
  margin-top: 20%;
  height: 300px;
  width: 500px;
  filter: grayscale(100%);
  transition: .5s;
}

.image:hover{
  filter: grayscale(0%);
}

.firstSmallHeading{
  margin-top: 7rem;
}

.smallHeading {
  font-size: 1rem;
  color: rgb(100, 255, 218);
}

.largeHeading {
  font-size: 2rem;
  color: rgb(204, 214, 246);
}

.featuredProject p{
  padding: 2rem;
  background-color: rgb(23, 42, 69);
  margin-bottom: 2rem;
}
.content {
  flex: 1;
}

.content p{
  color: rgb(136, 146, 176);
}

.firstProject{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: rgb(136, 146, 176);
  font-family: Roboto, sans-serif;
  margin-bottom: 2rem;

}

.secondProject{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: rgb(136, 146, 176);
  font-family: Roboto, sans-serif;
  margin-bottom: 2rem;

}

.firstProjectLinks{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.secondProjectLinks{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* End Featured Projects*/

/* Begin Other work */
.otherProjects {
  min-height: 300px;
  margin: 5rem 15rem 15rem 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  text-align: center;
}

.otherProject {
  background-color: rgb(23, 42, 69);
  padding: 10px;
}

.otherProjectTitle {
  color: rgb(204, 214, 246);
}

.otherProjectContent {
  color: rgb(136, 146, 176);
  margin: 2.5rem 0 3rem 0;
  font-size: 1rem;
}
.svg{
  height: 0.5rem;
  width: 0.5rem;
  padding-left: 2rem;
  margin-top: -0.1rem;
  color: rgb(100, 255, 218);

}

.otherProjectLinks{
  display: grid;
  grid-template-columns: 80% 20%;
  margin-bottom: 1rem;
  margin-top: 1rem;

}

.projectTech{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  color: rgb(136, 146, 176);
  font-family: Roboto, sans-serif;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}


/* End Other work*/


@media only screen and (max-width: 900px) {
  .image {
    height: 150px;
    width: 250px;
  }
}